.menu {
	padding: 10px;
	margin-bottom: 16px;
	border: 2px solid purple;
}

.menu__ul {
	list-style: none;
	display: flex;
	gap: 30px;
}

.menu__li {}

.menu__enlace {
	padding: 10px;
	display: block;
	color: black;
	text-decoration: none;
	border: 2px solid transparent;
}

.menu__enlace:hover {
	text-decoration: underline;
}

.menu__enlace.active {
	color: green;
	text-decoration: none;
	border: 2px solid green;
}

.menu__enlace:hover {
	color: green;
}