.galeria {
	width: 1024px;
	margin: 0 auto;
}

.galeria__lista {
	text-align: center;
	list-style: none;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.galeria__li {
	width: 368px;
	margin-bottom: 20px;
}