.actor {
	padding: 8px;
	margin-bottom: 16px;
	border: 2px solid green;
	display: flex;
	gap: 16px;
}

.actor:last-of-type {
	margin-bottom: 0;
}

.actor__img {
	width: 100px;
}

.actor__descripcion {}