.pelicula {
	padding: 20px;
	border: 2px solid red;
}

.pelicula__titulo {
	margin: 10px 0 30px;
	font-size: 36px;
}

.pelicula__poster {
	width: 250px;
}

.pelicula__cartel-y-resumen {
	margin-bottom: 30px;
	display: flex;
	gap: 30px;
}

.botones-elenco-y-taquilla-y-div-taquilla {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 14px;
}

.boton {
	background-color: #fff;
	padding: 8px;
	font-size: 18px;
	font-weight: bold;
}

.boton--elenco {
	color: blue;
	border: 2px solid blue;
}

.boton--taquilla{
	color: red;
	border: 2px solid red;
}

.div-taquilla {
	display: none;
	padding: 8px;
	color: red;
	font-size: 18px;
	font-weight: bold;
	text-align: right;
	grid-column: span 2;
	border: 2px dashed red;
}

.div-taquilla--mostrar {
	display: block;
}