* {
	padding: 10px;
}

body {
	font-weight: bold;
}

.contenedor {
	max-width: 600px;
	border: 4px solid orangered;
}

.contenedor > span {
	color: orangered;
}

.titulo {
	color: yellowgreen;
}

.cartela-y-resumen {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 18px;
}

.cartela {
	padding-bottom: 80px;
	border: 4px solid #572364;
}

.cartela-enlace {
	color: #572364;
}

.resumen {
	border: 4px solid black;
}

.elenco {
	border: 4px solid blue;
}

.actor {
	margin-bottom: 10px;
	color: green;
	border: 4px solid green;
	display: flex;
	gap: 20px;
}

.foto-actor {
	height: 60px;
	border: 4px solid green;
}